bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Animate-backend/FileContentIndex
/.vs/Animate-backend/v17/.suo
/.vs/Animate-backend/v17/DocumentLayout.json
/.vs/Animate-backend/DesignTimeBuild/.dtbcache.v2
